{
  "singleQuote": true,
  "parser": "typescript",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "useTabs": false,
  "trailingComma": "none",
  "quoteProps": "as-needed"
}
